/* Michael's Styles*/

.about {
    padding: 2.5%;
    margin: 4.5%;
    border: solid 5px orange;
    text-align: center;
    background-color: whitesmoke;
}

.person {
    min-height: 260px;
    width: 200px;
    display: inline-table;
}

.person > img {
    max-height: 200px;
}

/* Rules for Degrees */
.degreesList, .statsList {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.degreesList > *, .statsList > * {
    flex: 180px;
}

.undergraduateDegrees, .graduateDegrees {
    min-height: 250px;
    margin: 0.5em;
    padding-top: 1em;
    border: 3px solid rgb(104, 109, 33);
    border-radius: 15px;
    background-color: whitesmoke;
}

/* Rules for Graduate Certificates */
.certificateList {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 1em;
}

.certificateList > * {
    flex: 180px;
}

.certificateListItem {
    border: 3px solid orange;
    background-color: whitesmoke;
}

.pageTitle {
    padding: 1.5%;
    margin: 0.5%;
    border: solid 5px orange;
    text-align: center;
    background-color: whitesmoke;
}

.employment {
    text-align: center;
}

.degreeStatistics {
    min-height: 250px;
    margin: 0.5em;
    padding-top: 1em;
    border: 3px solid rgb(104, 109, 33);
    border-radius: 15px;
    background-color: whitesmoke;
}

.smallEmployment, .smallCareers {
    display: flex;
    flex-wrap: wrap;
    margin: 1em;
    background: whitesmoke;
    justify-content: center;
}

.smallEmploymentItem, .smallCareerItem {
    display: inline-block;
    margin: 1%;
    text-transform: uppercase;
    padding: 0;
    font-family: Montserrat, sans-serif;
}

.smallEmploymentItem > *, .smallCareerItem > * {
    flex: 150px;
}

.employmentTable, .careerTable {
    background-color: whitesmoke;
    margin: 2em;
    padding: 2em;
}

/* End Michael additions */
html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    background-color: #b3d8f7;
}