@model iSchoolWebApp.Models.CourseRootModel
@{
    ViewData["Title"] = "Course";
}

<div class="pageTitle">
	<h1>Course</h1>
</div>

<hr />
<div>@Model.courseID</div>
<div>@Model.title</div>
<div>@Model.description</div>